body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

.part {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: draw 10s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu-heading {
  padding: 1em;
}

.menu-options {
  display: flex;
}

.menu-option {
  padding: 1em;
  margin: 1em;
  border: solid 1px black;
  border-radius: 40px;
}

.menu-option:hover {
  cursor: pointer;
  color: grey;
  border: solid 1px grey;
}

.letter-select {
  padding: 1em;
  cursor: pointer;
}

.word-display-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3em;
}

.word-display {
  width: 2em;
  margin: 1em;
  text-align: center;
}